body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/spring.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width: 100vw;
    padding: 0 1vw;
    display: flex;
    background-color: rgba(54, 54, 54, 0.5);
    align-items: center;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    flex: 0.5;
    margin: 10px;
    transition: flex 0.5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.panel h3{
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
    text-transform: uppercase;
}

.panel.active{
    flex: 0.6;
    height: 50vh;
}

.panel.active h3{
    color: rgb(32, 32, 32);
    opacity: 1;
}

.spring{
    background-image: url('images/spring.jpg');
}

.summer{
    background-image: url('images/summer.jpg');
}

.autumn{
    background-image: url('images/autumn.jpeg');
}

.winter{
    background-image: url('images/winter.jpg');
}


@media(max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .panel{
        height: 90%;
        border-radius: 0;
        margin: 5px;
        padding: 0;
        border: solid 2px rgba(0, 0, 0, 0.479);
    }
}

